@media screen and (max-width: 1920px) and (min-width: 200px) {
    
    /*Para centrar todo el contenido del body*/
    body {
        width: 80%;
        margin: 0 auto;
    }

    /*Fondo de la cabecera del menú*/
    header {
        background: rgba(70, 65, 65, 0.7);
        text-align: center;
        color:brown;
    }    
    
    /*Quito el puntuado de los li */
    nav ul {
        list-style: none;
        overflow: hidden; 
    }

    /*Pongo los elementos de li en horizontal*/
    nav ul li {
        float: left;
        font-family: Arial, sans-serif;
        font-size: 14px;
    }

    /*Le pongo estilo a los li, para que haya espacio entre ellos, color, quitar subrayado*/
    nav ul li a {
        display: block;
        padding: 10px;
        color: #fff;
        text-decoration: none;
    }

    /*Color de los enlaces cuando estamos encima*/
    nav ul li:hover {
        background: #08b4e9;
    }

    footer {
        color:brown;
        background: rgba(70, 65, 65, 0.7);
    }
 
}
